<!DOCTYPE html>

<ul class="header-menu">
  <li><a href="#home" class="active">I will</a></li>
  <li><a href="#news">be a</a></li>
  <li><a href="#contact">real menu</a></li>
  <li><a href="#about">someday...</a></li>
</ul>